# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# General Owners [Martin Hinshelwood]
*       @mrhinsh

# The Hosting System [Ove Bastiansen]
src/MigrationTools.Host/* @ovebastiansen
src/MigrationTools.Host.Tests/* @ovebastiansen
src/MigrationTools/*HostedService.cs @ovebastiansen

# You can also use email addresses if you prefer.
docs/*  docs@example.com