[*]
end_of_line = crlf

[*.xml]
indent_style = space

[*.cs]
dotnet_sort_system_directives_first = true
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8-bom