title: Azure DevOps Migration Tools
description: Azure DevOps Migration Tools
parent_title: The Azure DevOps Migration Tools allow you to bulk edit and migrate data between Team Projects on both Microsoft Team Foundation Server (TFS) and Azure DevOps Services.
parent_url: https://nkdagility.com

website: https://nkdagility.com
baseurl: /azure-devops-migration-tools
url: "https://nkdagility.com"
source: ./docs
destination: ./_site

include:
 - "**/*.md"
 - "*.md"

plugins:
  - jekyll-relative-links
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-toc
  - jekyll-time-to-read
  # - jekyll-github-metadata
  - jekyll-optional-front-matter
  - jekyll-last-modified-at

kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge
  auto_ids: true

relative_links:
  enabled:     true
  collections: false