title: Azure DevOps Migration Tools
description: Azure DevOps Migration Tools
parent_title: The Azure DevOps Migration Tools allow you to bulk edit and migrate data between Team Projects on both Microsoft Team Foundation Server (TFS) and Azure DevOps Services.
parent_url: https://nkdagility.com

website: https://nkdagility.com
baseurl: /learn/azure-devops-migration-tools
url: "https://nkdagility.com"
githuburl: https://github.com/nkdAgility/azure-devops-migration-tools
source: ./docs
destination: ./_site

permalink: pretty

exclude:
 - "**/*template*.md"
 - "*template.md"
 - "/Reference/template.md"
 - "**/*template"
include:
 - "**/*.md"
 - "*.md"

 collections_dir: collections
 collections:


defaults:
 - scope:
     path: ""
   values:
     toc: true
     pageType: article
     pageStatus: draft
     author: mrhinsh

toc:
  min_level: 1
  max_level: 2
  ordered_list: false
  no_toc_section_class: no_toc_section
  list_id: toc
  list_class: section-nav bd-links-nav list-unstyled pb-1 small
  sublist_class: list-unstyled pb-2
  item_class: toc-entry align-items-center pb-2 ps-2
  item_prefix: toc-

plugins:
  - jekyll-relative-links
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-toc
  - jekyll-time-to-read
  # - jekyll-github-metadata
  - jekyll-optional-front-matter
  - jekyll-last-modified-at
  - jekyll-redirect-from

kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge
  auto_ids: true

relative_links:
  enabled:     true
  collections: true