<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.RuntimeTelemetry.RemoteDependencyModule, Microsoft.ApplicationInsights.Extensibility.RuntimeTelemetry"/>
  </TelemetryModules>
  <InstrumentationKey>6a59fbae-e6a1-4df4-9316-37b4db0fadde</InstrumentationKey>
</ApplicationInsights>