<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <InstrumentationKey>4b9bb17b-c7ee-43e5-b220-ec6db2c33373</InstrumentationKey>
  <TelemetryChannel>
    <DeveloperMode>true</DeveloperMode>
    <DataUploadIntervalInSeconds>5</DataUploadIntervalInSeconds>
  </TelemetryChannel>
</ApplicationInsights>