<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <InstrumentationKey>126d794f-7e75-4aad-90af-9b261bd9620b</InstrumentationKey>
  <TelemetryChannel>
    <DeveloperMode>true</DeveloperMode>
    <DataUploadIntervalInSeconds>5</DataUploadIntervalInSeconds>
  </TelemetryChannel>
</ApplicationInsights>