name: 'Label Actions'

on:
  issues:
    types: [labeled]
  discussion:
    types: [labeled]
  pull_request_target:
    types: [labeled, unlabeled]

permissions:
  contents: read
  issues: write
  discussions: write

jobs:
  reaction:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.NKDAGILITY_BOT_APP_ID }}
          private-key: ${{ secrets.NKDAGILITY_BOT_CLIENTSECRET }}
      - uses: dessant/label-actions@v4
        with:
          github-token: ${{ steps.app-token.outputs.token }}